@{
    ViewBag.Title = "About";
}
<section id="about">
    <div class="container-fluid px-0">
        <!-- Info Blocks -->
        <div class="row align-items-stretch no-gutters">
            <div class="col-md-4 g-parent g-bg-white">
                <!-- Article -->
                <article class="d-flex flex-wrap text-center g-color-gray-dark-v3">
                    <div class="order-2 w-100">
                        <img class="w-100" src="~/assets/img-temp/1200x800/img1.jpg" alt="Image description">
                    </div>

                    <div class="order-1 w-100 u-ns-bg-v1-bottom g-z-index-1 g-py-50 g-py-100--md g-px-15 g-px-50--md">
                        <h3 class="text-uppercase g-line-height-1_1 g-font-weight-800 g-font-size-25 g-font-size-30--md g-mb-20">Our Mission</h3>
                        <p class="mb-0">To improve the livelihood, esteem and opportunities for the sickled generation.</p>
                    </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-md-4 g-parent g-theme-bg-gray-dark-v1">
                <!-- Article -->
                <article class="d-flex flex-wrap text-center g-color-white">
                    <div class="order-1 w-100">
                        <img class="w-100" src="~/assets/img-temp/1200x800/img2.jpg" alt="Image description">
                    </div>

                    <div class="order-2 w-100 u-ns-bg-v1-top g-z-index-1 g-py-50 g-py-100--md g-px-15 g-px-50--md">
                        <h3 class="text-uppercase g-line-height-1_1 g-font-weight-800 g-font-size-25 g-font-size-30--md g-color-white g-mb-20">We are the best</h3>
                        <p class="g-color-gray-light-v4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae est lorem. Aenean imperdiet nisi a dolor condimentum, id ullamcorper lacus vestibulum. Praesent pulvinar gravida efficitur. Aenean bibendum purus eu nisi pulvinar venenatis vitae non velit.</p>
                    </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-md-4 g-parent g-bg-white">
                <!-- Article -->
                <article class="d-flex flex-wrap text-center g-color-gray-dark-v3">
                    <div class="order-2 w-100">
                        <img class="w-100" src="~/assets/img-temp/1200x800/img3.jpg" alt="Image description">
                    </div>

                    <div class="order-1 w-100 u-ns-bg-v1-bottom g-z-index-1 g-py-50 g-py-100--md g-px-15 g-px-50--md">
                        <h3 class="text-uppercase g-line-height-1_1 g-font-weight-800 g-font-size-25 g-font-size-30--md g-mb-20">Our Vision</h3>
                        <p class="mb-0">SASCELLS envisions to: “Eradicate and create a sickle cell free generation”.</p>
                    </div>
                </article>
                <!-- End Article -->
            </div>
        </div>
        <!-- End Info Blocks -->
    </div>
</section>

<!-- Section Content -->
<section id="services" class="g-py-100">
    <div class="container text-center g-max-width-750 g-mb-70">
        <div class="u-heading-v2-2--bottom g-brd-primary g-mb-20">
            <h2 class="text-uppercase u-heading-v2__title g-font-weight-800 g-font-size-30 g-font-size-40--md">What we do</h2>
        </div>

        <p class="mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel</p>
    </div>

    <div class="container">
        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-md-6 g-mb-40">
                <!-- Icon Blocks -->
                <div class="media">
                    <div class="d-flex g-mt-25 g-mr-40">
                        <span class="d-block g-color-primary g-font-size-48 g-line-height-1">
                            <i class="icon-medical-011 u-line-icon-pro"></i>
                        </span>
                    </div>

                    <div class="media-body align-self-center">
                        <h3 class="h5 text-uppercase g-font-weight-800">Medical Testing</h3>
                        <p class="g-font-size-default g-color-gray-dark-v2 mb-0">Proin dignissim eget enim id aliquam. Proin ornare dictum leo, non elementum tellus molestie et. Vivamus sit amet scelerisque leo. In eu commodo est. Sed bibendum a metus ac sollicitudin. Curabitur elementum placerat elit vel accumsan.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-md-6 g-mb-40">
                <!-- Icon Blocks -->
                <div class="media">
                    <div class="d-flex g-mt-25 g-mr-40">
                        <span class="d-block g-color-primary g-font-size-48 g-line-height-1">
                            <i class="icon-education-011 u-line-icon-pro"></i>
                        </span>
                    </div>

                    <div class="media-body align-self-center">
                        <h3 class="h5 text-uppercase g-font-weight-800">Community outreach</h3>
                        <p class="g-font-size-default g-color-gray-dark-v2 mb-0">Nteger commodo est id erat bibendum, eu convallis dolor tempus. Fusce mollis blandit eros. Nunc quis sapien in massa varius convallis at sed justo. Praesent nec consectetur nibh, sed lobortis turpis.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->
        <!-- Icon Blocks -->
        <div class="row">
            <div class="col-md-6 g-mb-40 g-mb-0--md">
                <!-- Icon Blocks -->
                <div class="media">
                    <div class="d-flex g-mt-25 g-mr-40">
                        <span class="d-block g-color-primary g-font-size-48 g-line-height-1">
                            <i class="icon-finance-066 u-line-icon-pro"></i>
                        </span>
                    </div>

                    <div class="media-body align-self-center">
                        <h3 class="h5 text-uppercase g-font-weight-800">Personal Health Financing</h3>
                        <p class="g-font-size-default g-color-gray-dark-v2 mb-0">Aenean lobortis ante ac porttitor eleifend. Morbi massa justo, gravida sollicitudin tortor vel, dignissim viverra lectus. In varius blandit condimentum. Pellentesque rutrum mauris ornare libero imperdiet pellentesque.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-md-6">
                <!-- Icon Blocks -->
                <div class="media">
                    <div class="d-flex g-mt-25 g-mr-40">
                        <span class="d-block g-color-primary g-font-size-48 g-line-height-1">
                            <i class="icon-education-127 u-line-icon-pro"></i>
                        </span>
                    </div>

                    <div class="media-body align-self-center">
                        <h3 class="h5 text-uppercase g-font-weight-800">Education</h3>
                        <p class="g-font-size-default g-color-gray-dark-v2 mb-0">Nam et nulla rutrum, dignissim eros quis, dictum eros. In ullamcorper molestie neque, ac faucibus felis efficitur sed. Nam et tristique nisi. Cras iaculis venenatis libero. Suspendisse fermentum, ipsum ac facilisis elementu.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <!-- End Icon Blocks -->
    </div>
</section>
<!-- End Section Content -->
<!-- Team Blocks -->
<section class="g-pt-70 g-pb-70 g-bg-gray-light-v4">
    <div class="container g-max-width-780 text-center g-mb-60">
        <!-- Heading -->
            <div class="g-max-width-645 text-center mx-auto g-mb-30">
                <h2 class="h3 g-color-black g-font-weight-600 text-capitalize mb-2">Management</h2>
                <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                <p class="lead mb-0">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
            </div>
        <!-- End Heading -->

        
    </div>
    <div class="container"><div class="row">
    <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
            <!-- Figure Image -->
            <img class="w-100" src="../../assets/img-temp/400x450/img1.jpg" alt="Image description">
            <!-- End Figure Image-->
            <!-- Figure Caption -->
            <figcaption class="u-block-hover__additional--v1 u-block-hover__additional--slide-down g-bg-blue-opacity-0_9 g-pa-30">
                <div class="u-block-hover__additional--v1 g-flex-middle">
                    <div class="text-center g-flex-middle-item">
                        <h4 class="h4 g-color-white g-mb-5">Leyla Watson</h4>
                        <em class="d-block g-font-style-normal g-font-size-11 g-font-weight-600 text-uppercase g-color-white-opacity-0_9">leyla@gmail.com</em>
                    </div>
                </div>
            </figcaption>
            <!-- End Figure Caption -->
        </figure>
        <!-- End Team Block -->
    </div>

    <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
            <!-- Figure Image -->
            <img class="w-100" src="../../assets/img-temp/400x450/img2.jpg" alt="Image description">
            <!-- End Figure Image-->
            <!-- Figure Caption -->
            <figcaption class="u-block-hover__additional--v1 u-block-hover__additional--slide-up g-bg-cyan-opacity-0_9 g-pa-30">
                <div class="u-block-hover__additional--v1 g-flex-middle">
                    <div class="text-center g-flex-middle-item">
                        <h4 class="h4 g-color-white g-mb-5">Tina Krueger</h4>
                        <em class="d-block g-font-style-normal g-font-size-11 g-font-weight-600 text-uppercase g-color-white-opacity-0_9">krueger@gmail.com</em>
                    </div>
                </div>
            </figcaption>
            <!-- End Figure Caption -->
        </figure>
        <!-- End Team Block -->
    </div>

    <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
            <!-- Figure Image -->
            <img class="w-100" src="../../assets/img-temp/400x450/img3.jpg" alt="Image description">
            <!-- End Figure Image-->
            <!-- Figure Caption -->
            <figcaption class="u-block-hover__additional--v1 u-block-hover__additional--slide-left g-bg-teal-opacity-0_9 g-pa-30">
                <div class="u-block-hover__additional--v1 g-flex-middle">
                    <div class="text-center g-flex-middle-item">
                        <h4 class="h4 g-color-white g-mb-5">David Case</h4>
                        <em class="d-block g-font-style-normal g-font-size-11 g-font-weight-600 text-uppercase g-color-white-opacity-0_9">case@gmail.com</em>
                    </div>
                </div>
            </figcaption>
            <!-- End Figure Caption -->
        </figure>
        <!-- End Team Block -->
    </div>

    <div class="col-lg-3 col-sm-6 g-mb-30">
        <!-- Team Block -->
        <figure class="u-block-hover">
            <!-- Figure Image -->
            <img class="w-100" src="../../assets/img-temp/400x450/img4.jpg" alt="Image description">
            <!-- End Figure Image-->
            <!-- Figure Caption -->
            <figcaption class="u-block-hover__additional--v1 u-block-hover__additional--slide-right g-bg-pink-opacity-0_9 g-pa-30">
                <div class="u-block-hover__additional--v1 g-flex-middle">
                    <div class="text-center g-flex-middle-item">
                        <h4 class="h4 g-color-white g-mb-5">Sara Lisbon</h4>
                        <em class="d-block g-font-style-normal g-font-size-11 g-font-weight-600 text-uppercase g-color-white-opacity-0_9">lisbon@gmail.com</em>
                    </div>
                </div>
            </figcaption>
            <!-- End Figure Caption -->
        </figure>
        <!-- End Team Block -->
    </div>
</div></div>

</section>
<!-- End Team Blocks -->