
@{
    ViewBag.Title = "Gallery";
}

    <div id="rev_slider_1043_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="image-gallery" data-source="gallery" style="margin:0px auto;background-color:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
        <div id="rev_slider_1043_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-2899" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/Gallery/1.jpg" data-rotate="0" data-saveperformance="off" data-title="Brand New Mustand" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="../../assets/Gallery/1.jpg" alt="Image description" data-lazyload="../../assets/Gallery/1.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <!-- LAYERS -->
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-2900" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/Gallery/2.jpg" data-rotate="0" data-saveperformance="off" data-title="Sun Touching Mountains" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/Gallery/2.jpg" alt="Image description" data-lazyload="~/assets/Gallery/2.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <!-- LAYERS -->
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-2901" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/Gallery/3.jpg" data-rotate="0" data-saveperformance="off" data-title="Woman Chill in Pool" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/Gallery/3.jpg" alt="Image description" data-lazyload="~/assets/Gallery/3.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <!-- LAYERS -->
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-2902" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/Gallery/4.jpg" data-rotate="0" data-saveperformance="off" data-title="Cool Pair of Glasses" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/Gallery/4.jpg" alt="Image description" data-lazyload="~/assets/Gallery/4.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <!-- LAYERS -->
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-2903" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/Gallery/5.jpg" data-rotate="0" data-saveperformance="off" data-title="Double Exposure Reflection" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/Gallery/5.jpg" alt="Image description" data-lazyload="~/assets/Gallery/3.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <!-- LAYERS -->
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-2904" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/Gallery/6.jpg" data-rotate="0" data-saveperformance="off" data-title="Man&#039;s Best Friend" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/Gallery/6.jpg" alt="Image description" data-lazyload="~/assets/Gallery/6.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <!-- LAYERS -->
                </li>
                <li data-index="rs-2905" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/Gallery/7.jpg" data-rotate="0" data-saveperformance="off" data-title="Man&#039;s Best Friend" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/Gallery/7.jpg" alt="Image description" data-lazyload="~/assets/Gallery/7.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <!-- LAYERS -->
                </li>
                <li data-index="rs-2906" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/Gallery/8.jpg" data-rotate="0" data-saveperformance="off" data-title="Man&#039;s Best Friend" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/Gallery/8.jpg" alt="Image description" data-lazyload="~/assets/Gallery/8.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <!-- LAYERS -->
                </li>
                <li data-index="rs-2907" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/Gallery/9.jpg" data-rotate="0" data-saveperformance="off" data-title="Personality" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/Gallery/9.jpg" alt="Image description" data-lazyload="~/assets/Gallery/9.jpg" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <!-- LAYERS -->
                </li>
            </ul>
            <div style="" class="tp-static-layers">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption rev-btn  tp-static-layer"
                     id="slider-1043-layer-1"
                     data-x="right" data-hoffset="10"
                     data-y="65"
                     data-width="['50']"
                     data-height="['50']"
                     data-visibility="['on','on','on','off']"
                     data-type="button"
                     data-actions='[{"event":"click","action":"togglefullscreen","delay":""}]'
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="7"
                     data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":"sliderenter","ease":"Power2.easeInOut"},{"delay":"sliderleave","speed":500,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 0.65);bs:solid;"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[1,1,1,1]"
                     data-paddingright="[1,1,1,1]"
                     data-paddingbottom="[1,1,1,1]"
                     data-paddingleft="[1,1,1,1]"
                     style="z-index: 5; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; font-size: 25px; line-height: 50px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto;background-color:rgba(0, 0, 0, 0);border-color:rgba(0, 0, 0, 1.00);border-width:0px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                    <div class="rs-untoggled-content">
                        <i class="fas fa-search-plus"></i>
                    </div>
                    <div class="rs-toggled-content">
                        <i class="fas fa-search-minus"></i>
                    </div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption rev-btn  tp-static-layer"
                     id="slider-1043-layer-2"
                     data-x="right" data-hoffset="10"
                     data-y="10"
                     data-width="['50']"
                     data-height="['50']"
                     data-type="button"
                     data-actions='[{"event":"click","action":"toggleslider","delay":""}]'
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-startslide="0"
                     data-endslide="7"
                     data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":"sliderenter","ease":"Power2.easeInOut"},{"delay":"sliderleave","speed":500,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 0.65);bs:solid;"}]'
                     data-textAlign="['center','center','center','center']"
                     data-paddingtop="[1,1,1,1]"
                     data-paddingright="[1,1,1,1]"
                     data-paddingbottom="[1,1,1,1]"
                     data-paddingleft="[1,1,1,1]"
                     style="z-index: 6; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; font-size: 20px; line-height: 50px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Roboto;background-color:rgba(0, 0, 0, 0);border-color:rgba(0, 0, 0, 1.00);border-width:0px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                    <div class="rs-untoggled-content">
                        <i class="fas fa-play"></i>
                    </div>
                    <div class="rs-toggled-content">
                        <i class="fas fa-pause"></i>
                    </div>
                </div>
            </div>
            <div class="tp-bannertimer" style="height: 5px; background-color: rgba(255, 255, 255, 0.50);"></div>
        </div>
    </div>