@{
    ViewBag.Title = "Home Page";
}

<!-- Revolution Slider -->
<div class="g-overflow-hidden">
    <div id="rev_slider_24_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="website-intro" data-source="gallery" style="background:#000000;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
        <div id="rev_slider_24_1" class="rev_slider fullscreenbanner tiny_bullet_slider" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-67`" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="600" data-thumb="~/assets/img-temp/1920x1080/img4.jpg" data-rotate="0"
                    data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-slicey_shadow="0px 0px 0px 0px transparent">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/img-temp/1920x1080/img4.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Power2.easeInOut" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-blurstart="20"
                         dat-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg">
                    <!-- LAYERSa -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-10" data-x="['center','center','center','center']" data-hoffset="['151','228','224','117']" data-y="['middle','middle','middle','middle']" data-voffset="['-212','-159','71','-222']"
                         data-width="['150','150','100','100']" data-height="['200','150','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":350,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3650","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-29" data-x="['center','center','center','center']" data-hoffset="['339','-442','104','-159']" data-y="['middle','middle','middle','middle']" data-voffset="['2','165','-172','219']"
                         data-width="['250','250','150','150']" data-height="['150','150','100','100']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-12" data-x="['center','center','center','center']" data-hoffset="['162','216','-239','193']" data-y="['middle','middle','middle','middle']" data-voffset="['195','245','6','146']"
                         data-width="['250','250','100','100']" data-height="150" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":450,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3550","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-34" data-x="['center','center','center','center']" data-hoffset="['-186','-119','273','-223']" data-y="['middle','middle','middle','middle']" data-voffset="['269','217','-121','69']"
                         data-width="['300','300','150','150']" data-height="['200','200','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3500","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-11" data-x="['center','center','center','center']" data-hoffset="['-325','292','162','-34']" data-y="['middle','middle','middle','middle']" data-voffset="['3','55','-275','-174']"
                         data-width="150" data-height="['250','150','50','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":550,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3450","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-27" data-x="['center','center','center','center']" data-hoffset="['-429','523','-190','-306']" data-y="['middle','middle','middle','middle']" data-voffset="['-327','173','181','480']"
                         data-width="['250','250','150','150']" data-height="['300','300','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":320,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3680","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-28" data-x="['center','center','center','center']" data-hoffset="['422','-409','208','225']" data-y="['middle','middle','middle','middle']" data-voffset="['-245','-72','294','-14']"
                         data-width="['300','300','150','150']" data-height="['250','250','100','100']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":360,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3640","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-30" data-x="['center','center','center','center']" data-hoffset="['549','-445','28','58']" data-y="['middle','middle','middle','middle']" data-voffset="['236','400','316','287']"
                         data-width="['300','300','150','200']" data-height="['250','250','150','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-31" data-x="['center','center','center','center']" data-hoffset="['-522','492','-151','262']" data-y="['middle','middle','middle','middle']" data-voffset="['339','-180','330','-141']"
                         data-width="['300','300','150','150']" data-height="['250','250','100','100']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":440,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3560","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-32" data-x="['center','center','center','center']" data-hoffset="['-588','-375','-253','-207']" data-y="['middle','middle','middle','middle']" data-voffset="['72','-328','-172','-111']"
                         data-width="['300','300','150','150']" data-height="['200','200','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":480,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3520","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-33" data-x="['center','center','center','center']" data-hoffset="['-37','73','-76','-100']" data-y="['middle','middle','middle','middle']" data-voffset="['-401','-340','-293','-246']"
                         data-width="['450','400','250','250']" data-height="['100','100','50','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":310,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3690","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 13 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-67-layer-35" data-x="['center','center','center','center']" data-hoffset="['186','38','116','17']" data-y="['middle','middle','middle','middle']" data-voffset="['363','402','190','395']"
                         data-width="['350','400','250','250']" data-height="['100','100','50','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":340,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3660","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 14 -->
                    <div class="tp-caption tp-shape tp-shapewrapper " id="slide-67-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full"
                         data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":10,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 15 -->
                    <div class="tp-caption   tp-resizeme" id="slide-67-layer-2" data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" data-fontsize="['90','90','70','50']"
                         data-lineheight="['90','90','70','50']" data-width="['none','none','481','360']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 19; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 700; color: #ffffff; letter-spacing:0;">
                        Making your
                        <br />Ideas possible.
                    </div>

                    <!-- LAYER NR. 16 -->
                    <div class="tp-caption   tp-resizeme" id="slide-67-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['90','90','60','30']" data-fontsize="['25','25','25','20']"
                         data-lineheight="['35','35','35','30']" data-width="['480','480','480','360']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 20; min-width: 480px; max-width: 480px; white-space: normal; font-size: 25px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                        Unify v2.0 Template is available for download now!
                    </div>

                    <!-- LAYER NR. 17 -->
                    <a class="tp-caption rev-btn g-bg-primary tp-resizeme" href="../../../../../https@revolution.themepunch.com/direct-customer-benefits/default.htm" target="_blank" id="slide-67-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                       data-voffset="['200','200','160','120']" data-width="250" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                       data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[50,50,50,50]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[50,50,50,50]" style="z-index: 21; min-width: 250px; max-width: 250px; white-space: nowrap; font-size: 18px; line-height: 60px; font-weight: 700; color: rgba(255,255,255,1); border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;text-transform: uppercase;">Purchase Unify </a>
                </li>
                <!-- SLIDE  --> 
                <li data-index="rs-66" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="600" data-thumb="~/assets/img-temp/1920x1080/img5.jpg" data-rotate="0"
                    data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-slicey_shadow="0px 0px 0px 0px transparent">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/img-temp/1920x1080/img5.jpg" alt="" data-bgposition="center top" data-kenburns="on" data-duration="5000" data-ease="Power2.easeInOut" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-blurstart="20"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 19 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-10" data-x="['center','center','center','center']" data-hoffset="['151','228','224','117']" data-y="['middle','middle','middle','middle']" data-voffset="['-212','-159','71','-222']"
                         data-width="['150','150','100','100']" data-height="['200','150','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":350,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3650","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 20 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-29" data-x="['center','center','center','center']" data-hoffset="['339','-442','104','-159']" data-y="['middle','middle','middle','middle']" data-voffset="['2','165','-172','219']"
                         data-width="['250','250','150','150']" data-height="['150','150','100','100']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 21 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-12" data-x="['center','center','center','center']" data-hoffset="['162','216','-239','193']" data-y="['middle','middle','middle','middle']" data-voffset="['195','245','6','146']"
                         data-width="['250','250','100','100']" data-height="150" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":450,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3550","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 22 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-34" data-x="['center','center','center','center']" data-hoffset="['-186','-119','273','-223']" data-y="['middle','middle','middle','middle']" data-voffset="['269','217','-121','69']"
                         data-width="['300','300','150','150']" data-height="['200','200','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3500","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 23 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-11" data-x="['center','center','center','center']" data-hoffset="['-325','292','162','-34']" data-y="['middle','middle','middle','middle']" data-voffset="['3','55','-275','-174']"
                         data-width="150" data-height="['250','150','50','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":550,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3450","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 24 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-27" data-x="['center','center','center','center']" data-hoffset="['-429','523','-190','-306']" data-y="['middle','middle','middle','middle']" data-voffset="['-327','173','181','480']"
                         data-width="['250','250','150','150']" data-height="['300','300','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":320,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3680","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 25 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-28" data-x="['center','center','center','center']" data-hoffset="['422','-409','208','225']" data-y="['middle','middle','middle','middle']" data-voffset="['-245','-72','294','-14']"
                         data-width="['300','300','150','150']" data-height="['250','250','100','100']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":360,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3640","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 26 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-30" data-x="['center','center','center','center']" data-hoffset="['549','-445','28','58']" data-y="['middle','middle','middle','middle']" data-voffset="['236','400','316','287']"
                         data-width="['300','300','150','200']" data-height="['250','250','150','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 27 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-31" data-x="['center','center','center','center']" data-hoffset="['-522','492','-151','262']" data-y="['middle','middle','middle','middle']" data-voffset="['339','-180','330','-141']"
                         data-width="['300','300','150','150']" data-height="['250','250','100','100']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":440,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3560","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 28 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-32" data-x="['center','center','center','center']" data-hoffset="['-588','-375','-253','-207']" data-y="['middle','middle','middle','middle']" data-voffset="['72','-328','-172','-111']"
                         data-width="['300','300','150','150']" data-height="['200','200','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":480,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3520","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 29 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-33" data-x="['center','center','center','center']" data-hoffset="['-37','73','-76','-100']" data-y="['middle','middle','middle','middle']" data-voffset="['-401','-340','-293','-246']"
                         data-width="['450','400','250','250']" data-height="['100','100','50','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":310,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3690","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 30 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-66-layer-35" data-x="['center','center','center','center']" data-hoffset="['186','38','116','17']" data-y="['middle','middle','middle','middle']" data-voffset="['363','402','190','395']"
                         data-width="['350','400','250','250']" data-height="['100','100','50','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":340,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3660","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 31 -->
                    <div class="tp-caption tp-shape tp-shapewrapper " id="slide-66-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full"
                         data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":10,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 32 -->
                    <div class="tp-caption   tp-resizeme" id="slide-66-layer-2" data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" data-fontsize="['90','90','70','50']"
                         data-lineheight="['90','90','70','50']" data-width="['none','none','481','360']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 19; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 700; color: #ffffff; letter-spacing: 0;">
                        Exploring
                        <br />New Paths
                    </div>

                    <!-- LAYER NR. 33 -->
                    <div class="tp-caption   tp-resizeme" id="slide-66-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['90','90','60','30']" data-fontsize="['25','25','25','20']"
                         data-lineheight="['35','35','35','30']" data-width="['480','480','480','360']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 20; min-width: 480px; max-width: 480px; white-space: normal; font-size: 25px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                        Discover our 20+ Template Library and range of free versatile features.
                    </div>

                    <!-- LAYER NR. 34 -->
                    <a class="tp-caption rev-btn  g-bg-primary tp-resizeme" href="../../../../../https@revolution.themepunch.com/direct-customer-benefits/default.htm" target="_blank" id="slide-66-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                       data-voffset="['200','200','160','120']" data-width="250" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                       data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[50,50,50,50]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[50,50,50,50]" style="z-index: 21; min-width: 250px; max-width: 250px; white-space: nowrap; font-size: 18px; line-height: 60px; font-weight: 700; color: rgba(255,255,255,1); border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;text-transform: uppercase;">Purchase Unify </a>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-67" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="600" data-thumb="~/assets/img-temp/1920x1080/img3.jpg" data-rotate="0"
                    data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-slicey_shadow="0px 0px 0px 0px transparent">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/img-temp/1920x1080/img3.jpg" alt="" data-bgposition="center top" data-kenburns="on" data-duration="5000" data-ease="Power2.easeInOut" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-blurstart="20"
                         data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 36 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-10" data-x="['center','center','center','center']" data-hoffset="['151','228','224','117']" data-y="['middle','middle','middle','middle']" data-voffset="['-212','-159','71','-222']"
                         data-width="['150','150','100','100']" data-height="['200','150','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":350,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3650","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 37 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-29" data-x="['center','center','center','center']" data-hoffset="['339','-442','104','-159']" data-y="['middle','middle','middle','middle']" data-voffset="['2','165','-172','219']"
                         data-width="['250','250','150','150']" data-height="['150','150','100','100']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 38 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-12" data-x="['center','center','center','center']" data-hoffset="['162','216','-239','193']" data-y="['middle','middle','middle','middle']" data-voffset="['195','245','6','146']"
                         data-width="['250','250','100','100']" data-height="150" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":450,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3550","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 39 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-34" data-x="['center','center','center','center']" data-hoffset="['-186','-119','273','-223']" data-y="['middle','middle','middle','middle']" data-voffset="['269','217','-121','69']"
                         data-width="['300','300','150','150']" data-height="['200','200','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3500","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 40 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-11" data-x="['center','center','center','center']" data-hoffset="['-325','292','162','-34']" data-y="['middle','middle','middle','middle']" data-voffset="['3','55','-275','-174']"
                         data-width="150" data-height="['250','150','50','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":550,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3450","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 41 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-27" data-x="['center','center','center','center']" data-hoffset="['-429','523','-190','-306']" data-y="['middle','middle','middle','middle']" data-voffset="['-327','173','181','480']"
                         data-width="['250','250','150','150']" data-height="['300','300','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":320,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3680","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 42 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-28" data-x="['center','center','center','center']" data-hoffset="['422','-409','208','225']" data-y="['middle','middle','middle','middle']" data-voffset="['-245','-72','294','-14']"
                         data-width="['300','300','150','150']" data-height="['250','250','100','100']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":360,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3640","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 43 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-30" data-x="['center','center','center','center']" data-hoffset="['549','-445','28','58']" data-y="['middle','middle','middle','middle']" data-voffset="['236','400','316','287']"
                         data-width="['300','300','150','200']" data-height="['250','250','150','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3600","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 44 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-31" data-x="['center','center','center','center']" data-hoffset="['-522','492','-151','262']" data-y="['middle','middle','middle','middle']" data-voffset="['339','-180','330','-141']"
                         data-width="['300','300','150','150']" data-height="['250','250','100','100']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":440,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3560","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 45 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-32" data-x="['center','center','center','center']" data-hoffset="['-588','-375','-253','-207']" data-y="['middle','middle','middle','middle']" data-voffset="['72','-328','-172','-111']"
                         data-width="['300','300','150','150']" data-height="['200','200','150','150']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="300" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":480,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3520","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 46 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-33" data-x="['center','center','center','center']" data-hoffset="['-37','73','-76','-100']" data-y="['middle','middle','middle','middle']" data-voffset="['-401','-340','-293','-246']"
                         data-width="['450','400','250','250']" data-height="['100','100','50','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":310,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3690","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 47 -->
                    <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-68-layer-35" data-x="['center','center','center','center']" data-hoffset="['186','38','116','17']" data-y="['middle','middle','middle','middle']" data-voffset="['363','402','190','395']"
                         data-width="['350','400','250','250']" data-height="['100','100','50','50']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="250" data-slicey_blurstart="0" data-slicey_blurend="20" data-responsive_offset="on" data-frames='[{"delay":340,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"+3660","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 48 -->
                    <div class="tp-caption tp-shape tp-shapewrapper " id="slide-68-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full"
                         data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":10,"speed":500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18;background-color:rgba(0, 0, 0, 0.5);"></div>

                    <!-- LAYER NR. 49 -->
                    <div class="tp-caption   tp-resizeme" id="slide-68-layer-2" data-x="['center','center','center','center']" data-hoffset="['1','1','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" data-fontsize="['90','90','70','50']"
                         data-lineheight="['90','90','70','50']" data-width="['none','none','481','360']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 19; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 700; color: #ffffff; letter-spacing: 0;">
                        Experience the
                        <br />Revolution
                    </div>

                    <!-- LAYER NR. 50 -->
                    <div class="tp-caption   tp-resizeme" id="slide-68-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['90','90','60','30']" data-fontsize="['25','25','25','20']"
                         data-lineheight="['35','35','35','30']" data-width="['480','480','480','360']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 20; min-width: 480px; max-width: 480px; white-space: normal; font-size: 25px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                        Cutting edge features, tons of examples, regular uodates.
                    </div>

                    <!-- LAYER NR. 51 -->
                    <a class="tp-caption rev-btn g-bg-primary tp-resizeme" href="../../../../../codecanyon.net/item/slider-revolution-responsive-wordpress-plugin/2751380@ref=themepunch&license=regular&open_purchase_for_item_id=2751380&purchasable=source" target="_blank" id="slide-68-layer-7"
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['200','200','160','120']" data-width="250" data-height="none" data-whitespace="nowrap" data-type="button"
                       data-actions='' data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;fb:20px;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
                       data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[50,50,50,50]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[50,50,50,50]" style="z-index: 21; min-width: 250px; max-width: 250px; white-space: nowrap; font-size: 18px; line-height: 60px; font-weight: 700; color: rgba(255,255,255,1); border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none; text-transform: uppercase;">Purchase Unify </a>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="height: 5px; background: #fff;"></div>
        </div>
    </div>
</div>
<!-- End Revolution Slider -->
<!-- Call To Action -->
<section class="g-bg-primary g-color-white g-pa-30" style="background-image: url(~/assets/education/img/bg/pattern5.png);">
    <div class="d-md-flex justify-content-md-center text-center">
        <div class="align-self-md-center">
            <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">SASCELLS envisions to: “Eradicate and create a sickle cell free generation”.</p>
        </div>
        <div class="align-self-md-center">
            <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" target="_blank" href="#">Donate</a>
        </div>
    </div>
</section>
<!-- End Call To Action -->
<section class="g-py-50 g-mb-30 g-bg-secondary">
    <div class="container">
        <div class="g-max-width-645 text-center mx-auto g-mb-30">
            <h2 class="h1 mb-3">Our Services</h2>
            <p>We provide advocacy,Sensitize,Relief programs</p>
        </div>
        <div class="row no-gutters">

            <!-- End Heading -->
            <div class="col-lg-4 g-px-40">
                <!-- Heading -->
                <!-- Icon Blocks -->
                <div class="text-center">
                    <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                        <i class="icon-finance-005 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Invest To Us</h3>
                    <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-px-40 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                        <i class="icon-education-010 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Community Sensitisation</h3>
                    <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-px-40 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                        <i class=" icon-medical-005 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Emergency</h3>
                    <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>
</section>
<!-- Section Content -->
<section id="yourHelp" class="g-py-70">
    <div class="container g-max-width-780 text-center g-mb-60">
        <div class="text-center u-heading-v8-1 g-mb-35">
            <h2 class="h3 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 mb-0">
                How you
                <strong class="g-bg-gray-dark-v1 g-color-primary">can help</strong>
            </h2>
        </div>

        <p class="mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Article -->
                <article class="row align-items-stretch text-center g-color-gray-dark-v5 g-bg-black mx-0">
                    <!--Article Content-->
                    <div class="col-sm-6 u-ns-bg-v1-bottom u-ns-bg-v1-right--md g-bg-black g-px-30 g-py-45">
                        <h3 class="text-uppercase g-font-size-20 g-color-white g-mb-25">
                            Became a
                            <strong class="d-block g-font-weight-700 g-color-primary">Volunteer</strong>
                        </h3>
                        <p class="g-mb-25">Praesent pulvinar gravida efficitur. Aenean bibendum purus eu nisi pulvinar venenatis vitae non velit.</p>
                        <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-11 g-color-gray-dark-v1 g-color-gray-dark-v1--hover rounded-0 g-py-10 g-px-25" href="#">Join Us</a>
                    </div>
                    <!-- End Article Content -->
                    <!-- Article Image -->
                    <div class="col-sm-6 px-0 u-bg-overlay g-bg-black-opacity-0_2--after g-bg-img-hero g-min-height-300"
                         data-bg-img-src="../../assets/charity/img-temp/800x842/img1.jpg"></div>
                    <!-- End Article Image -->
                </article>
                <!-- End Article -->
            </div>

            <div class="col-lg-6">
                <!-- Article -->
                <article class="row align-items-stretch text-center g-color-gray-dark-v5 g-bg-black mx-0">
                    <!-- Article Image -->
                    <div class="col-sm-6 px-0 u-bg-overlay g-bg-black-opacity-0_2--after g-bg-img-hero g-min-height-300"
                         data-bg-img-src="../../assets/charity/img-temp/800x842/img2.jpg"></div>
                    <!-- End Article Image -->
                    <!--Article Content-->
                    <div class="col-sm-6 u-ns-bg-v1-top u-ns-bg-v1-left--md g-bg-black g-px-30 g-py-45">
                        <h3 class="text-uppercase g-font-size-20 g-color-white g-mb-25">
                            Make a
                            <strong class="d-block g-font-weight-700 g-color-primary">Dontation</strong>
                        </h3>
                        <p class="g-mb-25">Praesent pulvinar gravida efficitur. Aenean bibendum purus eu nisi pulvinar venenatis vitae non velit.</p>
                        <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-11 g-color-gray-dark-v1 g-color-gray-dark-v1--hover rounded-0 g-py-10 g-px-25" href="#">Join Us</a>
                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>
        </div>
    </div>
</section>
<!-- End Section Content -->
<!-- Section Content -->
<section id="ourProjects" class="g-bg-gray-light-v5 g-py-70">
    <div class="container g-max-width-780 text-center g-mb-60">
        <div class="text-center u-heading-v8-1 g-mb-35">
            <h2 class="h3 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 mb-0">
                Our
                <strong class="g-bg-gray-dark-v1 g-color-primary">projects</strong>
            </h2>
        </div>

        <p class="mb-0">Nullam in diam arcu. Etiam nisl justo, tempor scelerisque sagittis vel, bibendum vestibulum metus. Donec eget nunc neque.</p>
    </div>

    <div class="container">
        <!-- Carousel -->
        <div class="js-carousel g-pb-60 g-mx-minus-15"
             data-slides-show="3"
             data-slides-scroll="3"
             data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-0 text-center"
             data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 2,
                   "slidesToScroll": 2
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 1,
                   "slidesToScroll": 1
                 }
               }]'>
            <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="g-bg-white g-color-gray-light-v1">
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/charity/img-temp/800x496/img1.jpg" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-20">
                        <h4 class="text-uppercase g-font-weight-700 h6 g-color-gray-dark-v1 g-mb-15">Aenean bibendum purus eu nisi pulvinar venenatis vitae</h4>
                        <p class="g-mb-25">Proin dignissim eget enim id aliquam. Proin ornare dictum leo, non elementum tellus molestie et. Vivamus sit amet scelerisque leo.</p>

                        <footer>
                            <div class="d-md-table">
                                <div class="d-block d-md-table-cell g-mb-15 g-mb-0--md">
                                    <div class="d-flex justify-content-between">
                                        <div class="g-width-70">
                                            <!-- Chart Pie -->
                                            <div class="js-pie g-color-gray-dark-v4"
                                                 data-circles-value="16"
                                                 data-circles-max-value="100"
                                                 data-circles-bg-color="#dedede"
                                                 data-circles-fg-color="#f5f219"
                                                 data-circles-radius="35"
                                                 data-circles-stroke-width="4"
                                                 data-circles-font-size="14"
                                                 data-circles-font-weight="700"
                                                 data-circles-additional-text="%"
                                                 data-circles-duration="2000"
                                                 data-circles-scroll-animate="true"></div>
                                            <!-- End Chart Pie -->
                                        </div>

                                        <div class="align-self-center text-right text-md-left g-font-size-13 g-px-20">
                                            <strong class="g-color-gray-dark-v1">$ 258 750</strong>
                                            <em class="g-font-style-normal d-block">25 days left</em>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-block d-md-table-cell text-right g-valign-middle">
                                    <a class="btn btn-block u-btn-primary text-uppercase g-font-weight-700 g-font-size-11 g-color-gray-dark-v1 g-brd-none rounded-0 g-py-12 g-py-23--md g-px-15 g-px-25--md" href="#">Donate Now</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="g-bg-white g-color-gray-light-v1">
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/charity/img-temp/800x496/img2.jpg" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-20">
                        <h4 class="text-uppercase g-font-weight-700 h6 g-color-gray-dark-v1 g-mb-15">Aenean bibendum purus eu nisi pulvinar venenatis vitae</h4>
                        <p class="g-mb-25">Proin dignissim eget enim id aliquam. Proin ornare dictum leo, non elementum tellus molestie et. Vivamus sit amet scelerisque leo.</p>

                        <footer>
                            <div class="d-md-table">
                                <div class="d-block d-md-table-cell g-mb-15 g-mb-0--md">
                                    <div class="d-flex justify-content-between">
                                        <div class="g-width-70">
                                            <!-- Chart Pie -->
                                            <div class="js-pie g-color-gray-dark-v4"
                                                 data-circles-value="26"
                                                 data-circles-max-value="100"
                                                 data-circles-bg-color="#dedede"
                                                 data-circles-fg-color="#f5f219"
                                                 data-circles-radius="35"
                                                 data-circles-stroke-width="4"
                                                 data-circles-font-size="14"
                                                 data-circles-font-weight="700"
                                                 data-circles-additional-text="%"
                                                 data-circles-duration="2000"
                                                 data-circles-scroll-animate="true"></div>
                                            <!-- End Chart Pie -->
                                        </div>

                                        <div class="align-self-center text-right text-md-left g-font-size-13 g-px-20">
                                            <strong class="g-color-gray-dark-v1">$ 258 750</strong>
                                            <em class="g-font-style-normal d-block">25 days left</em>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-block d-md-table-cell text-right g-valign-middle">
                                    <a class="btn btn-block u-btn-primary text-uppercase g-font-weight-700 g-font-size-11 g-color-gray-dark-v1 g-brd-none rounded-0 g-py-12 g-py-23--md g-px-15 g-px-25--md" href="#">Donate Now</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="g-bg-white g-color-gray-light-v1">
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/charity/img-temp/800x496/img3.jpg" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-20">
                        <h4 class="text-uppercase g-font-weight-700 h6 g-color-gray-dark-v1 g-mb-15">Aenean bibendum purus eu nisi pulvinar venenatis vitae</h4>
                        <p class="g-mb-25">Proin dignissim eget enim id aliquam. Proin ornare dictum leo, non elementum tellus molestie et. Vivamus sit amet scelerisque leo.</p>

                        <footer>
                            <div class="d-md-table">
                                <div class="d-block d-md-table-cell g-mb-15 g-mb-0--md">
                                    <div class="d-flex justify-content-between">
                                        <div class="g-width-70">
                                            <!-- Chart Pie -->
                                            <div class="js-pie g-color-gray-dark-v4"
                                                 data-circles-value="36"
                                                 data-circles-max-value="100"
                                                 data-circles-bg-color="#dedede"
                                                 data-circles-fg-color="#f5f219"
                                                 data-circles-radius="35"
                                                 data-circles-stroke-width="4"
                                                 data-circles-font-size="14"
                                                 data-circles-font-weight="700"
                                                 data-circles-additional-text="%"
                                                 data-circles-duration="2000"
                                                 data-circles-scroll-animate="true"></div>
                                            <!-- End Chart Pie -->
                                        </div>

                                        <div class="align-self-center text-right text-md-left g-font-size-13 g-px-20">
                                            <strong class="g-color-gray-dark-v1">$ 258 750</strong>
                                            <em class="g-font-style-normal d-block">25 days left</em>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-block d-md-table-cell text-right g-valign-middle">
                                    <a class="btn btn-block u-btn-primary text-uppercase g-font-weight-700 g-font-size-11 g-color-gray-dark-v1 g-brd-none rounded-0 g-py-12 g-py-23--md g-px-15 g-px-25--md" href="#">Donate Now</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="g-bg-white g-color-gray-light-v1">
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/charity/img-temp/800x496/img4.jpg" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-20">
                        <h4 class="text-uppercase g-font-weight-700 h6 g-color-gray-dark-v1 g-mb-15">Aenean bibendum purus eu nisi pulvinar venenatis vitae</h4>
                        <p class="g-mb-25">Proin dignissim eget enim id aliquam. Proin ornare dictum leo, non elementum tellus molestie et. Vivamus sit amet scelerisque leo.</p>

                        <footer>
                            <div class="d-md-table">
                                <div class="d-block d-md-table-cell g-mb-15 g-mb-0--md">
                                    <div class="d-flex justify-content-between">
                                        <div class="g-width-70">
                                            <!-- Chart Pie -->
                                            <div class="js-pie g-color-gray-dark-v4"
                                                 data-circles-value="16"
                                                 data-circles-max-value="100"
                                                 data-circles-bg-color="#dedede"
                                                 data-circles-fg-color="#f5f219"
                                                 data-circles-radius="35"
                                                 data-circles-stroke-width="4"
                                                 data-circles-font-size="14"
                                                 data-circles-font-weight="700"
                                                 data-circles-additional-text="%"
                                                 data-circles-duration="2000"
                                                 data-circles-scroll-animate="true"></div>
                                            <!-- End Chart Pie -->
                                        </div>

                                        <div class="align-self-center text-right text-md-left g-font-size-13 g-px-20">
                                            <strong class="g-color-gray-dark-v1">$ 258 750</strong>
                                            <em class="g-font-style-normal d-block">25 days left</em>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-block d-md-table-cell text-right g-valign-middle">
                                    <a class="btn btn-block u-btn-primary text-uppercase g-font-weight-700 g-font-size-11 g-color-gray-dark-v1 g-brd-none rounded-0 g-py-12 g-py-23--md g-px-15 g-px-25--md" href="#">Donate Now</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Article -->
                <article class="g-bg-white g-color-gray-light-v1">
                    <!-- Article Image -->
                    <img class="w-100" src="~/assets/charity/img-temp/800x496/img5.jpg" alt="Image Description">
                    <!-- End Article Image -->
                    <!-- Article Content -->
                    <div class="g-pa-20">
                        <h4 class="text-uppercase g-font-weight-700 h6 g-color-gray-dark-v1 g-mb-15">Aenean bibendum purus eu nisi pulvinar venenatis vitae</h4>
                        <p class="g-mb-25">Proin dignissim eget enim id aliquam. Proin ornare dictum leo, non elementum tellus molestie et. Vivamus sit amet scelerisque leo.</p>

                        <footer>
                            <div class="d-md-table">
                                <div class="d-block d-md-table-cell g-mb-15 g-mb-0--md">
                                    <div class="d-flex justify-content-between">
                                        <div class="g-width-70">
                                            <!-- Chart Pie -->
                                            <div class="js-pie g-color-gray-dark-v4"
                                                 data-circles-value="26"
                                                 data-circles-max-value="100"
                                                 data-circles-bg-color="#dedede"
                                                 data-circles-fg-color="#f5f219"
                                                 data-circles-radius="35"
                                                 data-circles-stroke-width="4"
                                                 data-circles-font-size="14"
                                                 data-circles-font-weight="700"
                                                 data-circles-additional-text="%"
                                                 data-circles-duration="2000"
                                                 data-circles-scroll-animate="true"></div>
                                            <!-- End Chart Pie -->
                                        </div>

                                        <div class="align-self-center g-font-size-13 g-px-20">
                                            <strong class="g-color-gray-dark-v1">$ 258 750</strong>
                                            <em class="g-font-style-normal d-block">25 days left</em>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-block d-md-table-cell text-right g-valign-middle">
                                    <a class="btn btn-block u-btn-primary text-uppercase g-font-size-11 g-font-weight-700 g-brd-none rounded-0 g-px-25 g-py-23" href="#">Donate Now</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>
        </div>
        <!-- End Carousel -->
    </div>
</section>
<!-- End Section Content -->
<!-- News -->
<div class="container news-max-width-768 g-py-25 g-mb-30">
    <div class="g-px-30--lg">
        <!-- Heading -->
        <div class="g-max-width-645 text-center mx-auto g-mb-30">
            <h2 class="h1 mb-3">Latest News &amp; Activities</h2>
            <p>Our duty towards you is to share our experience we're reaching in our work path with you.</p>
        </div>
        <!-- End Heading -->
        <!-- News Carousel -->
        <div class="js-carousel u-carousel-v5 g-mx-minus-15"
             data-slides-show="3"
             data-slides-scroll="1"
             data-arrows-classes="u-icon-v3 u-icon-size--sm g-absolute-centered--y g-color-primary g-color-white--hover g-bg-primary-opacity-0_1 g-bg-primary--hover rounded-circle g-pa-11"
             data-arrow-left-classes="fas fa-angle-left g-left-0 g-ml-minus-50--lg"
             data-arrow-right-classes="fas fa-angle-right g-right-0 g-mr-minus-50--lg"
             data-pagi-classes="u-carousel-indicators-v35 g-pos-rel text-center g-mt-30"
             data-responsive='[{
                 "breakpoint": 992,
                 "settings": {
                   "slidesToShow": 3
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 2
                 }
               }, {
                 "breakpoint": 554,
                 "settings": {
                   "slidesToShow": 1
                 }
               }]'>

            <!-- News -->
            <div class="js-slide u-shadow-v38 g-bg-size-cover g-bg-pos-center rounded g-mx-15 g-my-30" style="background-image: url(../assets/education/img-temp/400x500/img1.jpg);">
                <article class="align-self-end text-center g-pos-rel g-z-index-1 g-pa-40 mx-auto">
                    <h3 class="g-color-white">Unify University announces a new student award in honour of Fashion</h3>
                    <div class="mt-4">
                        <span class="d-block g-color-white g-font-size-16 mb-2">Neyton Burchie</span>
                        <div class="d-inline-block g-width-40 g-height-40">
                            <img class="img-fluid g-brd-around g-brd-2 g-brd-primary-opacity-0_1 rounded-circle" src="~/assets/education/img-temp/100x100/img3.jpg" alt="Image Description">
                        </div>
                    </div>
                    <a class="u-link-v2" href="page-blog-single-item-1.html"></a>
                </article>
            </div>
            <!-- End News -->
            <!-- News -->
            <div class="js-slide g-flex-centered u-shadow-v38 rounded g-mx-15 g-my-30">
                <article class="g-pa-40">
                    <blockquote class="g-brd-left-none g-color-main-dark-v3 g-font-size-18 g-pl-0 mb-5">" Unify welcomes the downtown to uptown in advance of the IT Technology. At the welcome ceremony, Lenton announced a new award in the IT Technology in support of increased access to postsecondary education. "</blockquote>
                    <div class="text-center mb-3">
                        <span class="d-block g-color-text-light-v1 g-font-size-16 mb-2">Keith Margaret</span>
                        <div class="d-inline-block g-width-40 g-height-40">
                            <img class="img-fluid g-brd-around g-brd-2 g-brd-primary-opacity-0_1 rounded-circle" src="~/assets/education/img-temp/100x100/img2.jpg" alt="Image Description">
                        </div>
                    </div>
                    <a class="btn btn-block g-color-primary g-color-white--hover g-bg-primary-opacity-0_1 g-bg-primary--hover g-rounded-20 g-py-10" href="page-blog-single-item-1.html">Read more</a>
                </article>
            </div>
            <!-- End News -->
            <!-- News -->
            <div class="js-slide u-shadow-v38 g-bg-size-cover g-bg-pos-center rounded g-mx-15 g-my-30" style="background-image: url(../../assets/education/img-temp/400x500/img3.jpg);">
                <article class="align-self-end text-center g-pos-rel g-z-index-1 g-pa-40 mx-auto">
                    <h3 class="g-color-white">The Fashion Gallery of Unify welcomes downtown to the future of Ontario.</h3>
                    <div class="mt-4">
                        <span class="d-block g-color-white g-font-size-16 mb-2">Tina Krueger</span>
                        <div class="d-inline-block g-width-40 g-height-40">
                            <img class="img-fluid g-brd-around g-brd-2 g-brd-primary-opacity-0_1 rounded-circle" src="~/assets/education/img-temp/100x100/img5.jpg" alt="Image Description">
                        </div>
                    </div>
                    <a class="u-link-v2" href="page-blog-single-item-1.html"></a>
                </article>
            </div>
            <!-- End News -->
        </div>
        <!-- End News Carousel -->
    </div>
</div>
<!-- End News -->
<!-- Section Content -->
<section id="lessons" class="g-bg-primary g-py-50">
    <div class="container">
        <div class="js-carousel"
             data-infinite="true"
             data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-45 g-height-45 g-font-size-22 g-color-white g-color-gray-dark-v2--hover g-bg-white--hover g-brd-around g-brd-white-opacity-0_4 g-rounded-50x g-transition-0_2 g-transition--ease-in"
             data-arrow-left-classes="fas fa-angle-left g-left-minus-50"
             data-arrow-right-classes="fas fa-angle-right g-right-minus-50">
            <div class="js-slide">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="g-pos-rel g-pl-50--lg">
                            <img class="img-fluid w-100" src="~/assets/img-temp/570x321/img1.jpg" alt="Image description">
                            <a class="js-fancybox-media u-icon-v2 g-absolute-centered g-width-50 g-height-50 g-font-size-16 g-color-white g-text-underline--none--hover g-bg-black-opacity-0_6--hover g-brd-5 g-brd-white g-brd-white-opacity-0_6--hover g-rounded-50x" href="javascript:;"
                               data-src="../../../../../https@vimeo.com/119228609"
                               data-animate-in="flipInY"
                               data-animate-out="flipOutY"
                               data-speed="1000">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-5 g-py-20">
                        <h2 class="text-uppercase g-letter-spacing-3 g-font-weight-700 g-font-size-20 g-color-white g-mb-20">Workout for men</h2>
                        <p class="g-line-height-1_8 g-color-white-opacity-0_75 g-font-size-default g-mb-30">Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi facilisis lobortis. Praesent malesuada facilisis maximus. Donec sed lobortis tortor. Ut nec lacinia sapien, sit amet dapibus magna. Vestibulum nunc ex, tempus et volutpat nec, convallis ut massa. Sed ultricies luctus ipsum in placerat.</p>
                        <a class="btn btn-md text-uppercase u-btn-white g-letter-spacing-1 g-font-weight-700 g-font-size-11 g-theme-color-gray-dark-v1 g-color-gray-dark-v5--parent-hover g-theme-brd-color-dark-light-v1 g-brd-none g-rounded-50 g-py-15 g-px-35 " href="#">View our schedule</a>
                    </div>
                </div>
            </div>

            <div class="js-slide">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="g-pos-rel g-pl-50--lg">
                            <img class="img-fluid w-100" src="~/assets/img-temp/570x321/img2.jpg" alt="Image description">
                            <a class="js-fancybox-media u-icon-v2 g-absolute-centered g-width-50 g-height-50 g-font-size-16 g-color-white g-text-underline--none--hover g-bg-black-opacity-0_6--hover g-brd-5 g-brd-white g-brd-white-opacity-0_6--hover g-rounded-50x" href="javascript:;"
                               data-src="../../../../../https@vimeo.com/119228609"
                               data-animate-in="flipInY"
                               data-animate-out="flipOutY"
                               data-speed="1000">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-5 g-py-20">
                        <h2 class="text-uppercase g-letter-spacing-3 g-font-weight-700 g-font-size-20 g-color-white g-mb-20">Daily crossfit workout</h2>
                        <p class="g-line-height-1_8 g-color-white-opacity-0_75 g-font-size-default g-mb-30">Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi facilisis lobortis. Praesent malesuada facilisis maximus. Donec sed lobortis tortor. Ut nec lacinia sapien, sit amet dapibus magna. Vestibulum nunc ex, tempus et volutpat nec, convallis ut massa. Sed ultricies luctus ipsum in placerat.</p>
                        <a class="btn btn-md text-uppercase u-btn-white g-letter-spacing-1 g-font-weight-700 g-font-size-11 g-theme-color-gray-dark-v1 g-color-gray-dark-v5--parent-hover g-theme-brd-color-dark-light-v1 g-brd-none g-rounded-50 g-py-15 g-px-35 " href="#">View our schedule</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section Content -->
<!-- Team Blocks -->
<section class="container g-pt-70 g-pb-20">
    <!-- Heading -->
    <div class="row justify-content-center text-center">
        <div class="g-max-width-645 text-center mx-auto g-mb-30">
            <h2 class="h3 g-color-black g-font-weight-600 text-capitalize mb-2">Management</h2>
            <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
            <p class="lead mb-0">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
        </div>
    </div>
    <!-- End Heading -->

    <div class="row">
        <div class="col-lg-3 col-sm-6 g-mb-30">
            <!-- Team Block -->
            <figure class="u-block-hover">
                <!-- Figure Image -->
                <img class="w-100" src="~/assets/img-temp/400x450/img1.jpg" alt="Image description">
                <!-- End Figure Image-->
                <!-- Figure Caption -->
                <figcaption class="u-block-hover__additional--v1 u-block-hover__additional--slide-down g-bg-blue-opacity-0_9 g-pa-30">
                    <div class="u-block-hover__additional--v1 g-flex-middle">
                        <div class="text-center g-flex-middle-item">
                            <h4 class="h4 g-color-white g-mb-5">Leyla Watson</h4>
                            <em class="d-block g-font-style-normal g-font-size-11 g-font-weight-600 text-uppercase g-color-white-opacity-0_9">leyla@gmail.com</em>
                        </div>
                    </div>
                </figcaption>
                <!-- End Figure Caption -->
            </figure>
            <!-- End Team Block -->
        </div>

        <div class="col-lg-3 col-sm-6 g-mb-30">
            <!-- Team Block -->
            <figure class="u-block-hover">
                <!-- Figure Image -->
                <img class="w-100" src="~/assets/img-temp/400x450/img2.jpg" alt="Image description">
                <!-- End Figure Image-->
                <!-- Figure Caption -->
                <figcaption class="u-block-hover__additional--v1 u-block-hover__additional--slide-up g-bg-cyan-opacity-0_9 g-pa-30">
                    <div class="u-block-hover__additional--v1 g-flex-middle">
                        <div class="text-center g-flex-middle-item">
                            <h4 class="h4 g-color-white g-mb-5">Tina Krueger</h4>
                            <em class="d-block g-font-style-normal g-font-size-11 g-font-weight-600 text-uppercase g-color-white-opacity-0_9">krueger@gmail.com</em>
                        </div>
                    </div>
                </figcaption>
                <!-- End Figure Caption -->
            </figure>
            <!-- End Team Block -->
        </div>

        <div class="col-lg-3 col-sm-6 g-mb-30">
            <!-- Team Block -->
            <figure class="u-block-hover">
                <!-- Figure Image -->
                <img class="w-100" src="~/assets/img-temp/400x450/img3.jpg" alt="Image description">
                <!-- End Figure Image-->
                <!-- Figure Caption -->
                <figcaption class="u-block-hover__additional--v1 u-block-hover__additional--slide-left g-bg-teal-opacity-0_9 g-pa-30">
                    <div class="u-block-hover__additional--v1 g-flex-middle">
                        <div class="text-center g-flex-middle-item">
                            <h4 class="h4 g-color-white g-mb-5">David Case</h4>
                            <em class="d-block g-font-style-normal g-font-size-11 g-font-weight-600 text-uppercase g-color-white-opacity-0_9">case@gmail.com</em>
                        </div>
                    </div>
                </figcaption>
                <!-- End Figure Caption -->
            </figure>
            <!-- End Team Block -->
        </div>

        <div class="col-lg-3 col-sm-6 g-mb-30">
            <!-- Team Block -->
            <figure class="u-block-hover">
                <!-- Figure Image -->
                <img class="w-100" src="~/assets/img-temp/400x450/img4.jpg" alt="Image description">
                <!-- End Figure Image-->
                <!-- Figure Caption -->
                <figcaption class="u-block-hover__additional--v1 u-block-hover__additional--slide-right g-bg-pink-opacity-0_9 g-pa-30">
                    <div class="u-block-hover__additional--v1 g-flex-middle">
                        <div class="text-center g-flex-middle-item">
                            <h4 class="h4 g-color-white g-mb-5">Sara Lisbon</h4>
                            <em class="d-block g-font-style-normal g-font-size-11 g-font-weight-600 text-uppercase g-color-white-opacity-0_9">lisbon@gmail.com</em>
                        </div>
                    </div>
                </figcaption>
                <!-- End Figure Caption -->
            </figure>
            <!-- End Team Block -->
        </div>
    </div>
</section>
<!-- End Team Blocks -->
<!-- News -->
<!-- Section Content -->
<section class="g-theme-bg-gray-dark-v1 g-py-20">
    <div class="container">
        <div class="g-overflow-hidden">
            <div class="row text-center mx-0 g-ml-minus-1 g-mb-minus-1">
                <div class="col-6 col-sm-3 col-lg-2 d-flex align-items-center g-brd-left g-brd-bottom g-theme-brd-gray-dark-v2 px-0">
                    <a class="w-100 g-py-30 g-px-15" href="#">
                        <img class="img-fluid" src="~/assets/clients/img1.png" alt="Image description">
                    </a>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex align-items-center g-brd-left g-brd-bottom g-theme-brd-gray-dark-v2 px-0">
                    <a class="w-100 g-py-30 g-px-15" href="#">
                        <img class="img-fluid" src="~/assets/clients/img2.png" alt="Image description">
                    </a>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex align-items-center g-brd-left g-brd-bottom g-theme-brd-gray-dark-v2 px-0">
                    <a class="w-100 g-py-30 g-px-15" href="#">
                        <img class="img-fluid" src="~/assets/clients/img3.png" alt="Image description">
                    </a>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex align-items-center g-brd-left g-brd-bottom g-theme-brd-gray-dark-v2 px-0">
                    <a class="w-100 g-py-30 g-px-15" href="#">
                        <img class="img-fluid" src="~/assets/clients/img4.png" alt="Image description">
                    </a>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex align-items-center g-brd-left g-brd-bottom g-theme-brd-gray-dark-v2 px-0">
                    <a class="w-100 g-py-30 g-px-15" href="#">
                        <img class="img-fluid" src="~/assets/clients/img5.png" alt="Image description">
                    </a>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 d-flex align-items-center g-brd-left g-brd-bottom g-theme-brd-gray-dark-v2 px-0">
                    <a class="w-100 g-py-30 g-px-15" href="#">
                        <img class="img-fluid" src="~/assets/clients/img6.png" alt="Image description">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section Content -->
