
@{
    ViewBag.Title = "Organization Terms";
}

<!-- Icon Blocks -->
<section class="g-pt-100 g-pb-40 g-bg-gray-light-v5">
    <div class="container g-max-width-780 text-center">
        <div class="row align-items-center">
            <div class="mb-5">
                <div class="text-center u-heading-v8-1 g-mb-35">
                    <h2 class="h3 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 mb-0">
                        Organizational
                        <strong class="g-bg-gray-dark-v1 g-color-primary">Terms</strong>
                    </h2>
                </div>
                <p class="mb-0 lead">Sarafina Sickle Cell Society is an African NGO that has been established in 2019 by a group of concerned citizens that has been individually involved and challenged with sickle cells disease and other development aspects in Uganda. These people unified their human resources to form this NGO, which was meant to help the victims of sickle cells, the persons living with sickle cells and their families. Since then the organization does expand in all aspects of organizational membership, developmental strategies and program implementation.</p>
                <div class="d-inline-block g-width-50 g-height-1 g-bg-black"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Icon Blocks -->
<!-- Icon Blocks -->
<section class="g-pt-100 g-pb-40">
    <div class="container g-max-width-780 text-center">
        <div class="row align-items-center">
            <div class="mb-5">
                <div class="text-center u-heading-v8-1 g-mb-35">
                    <h2 class="h3 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 mb-0">
                        Legal Status &
                        <strong class="g-bg-gray-dark-v1 g-color-primary">Registration</strong>
                    </h2>
                </div>
                <p class="mb-0 lead">
                    Sarafina Sickle Cells Society (SASCELLS) was conceived in 2019 by a group of Ugandans both carriers of sickle cells and other concerned health professionals. Was registered as a company limited by guarantee in 2019 and later registered as an NGO in 2020 with permit number 5099. SASCELLS is legal and recognized
                    Independent Non-governmental and Nonprofit Voluntary organization, registered under Ministry of Internal Affairs with the NGO Bureau of Ugand.
                </p>
                <div class="d-inline-block g-width-50 g-height-1 g-bg-black"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Icon Blocks -->
<!-- Icon Blocks -->
<section class="g-pt-100 g-pb-40 g-bg-gray-light-v5">
    <div class="container g-max-width-780 text-center">
        <div class="row align-items-center">
            <div class="mb-5">
                <div class="text-center u-heading-v8-1 g-mb-35">
                    <h2 class="h3 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 mb-0">
                        Geographical
                        <strong class="g-bg-gray-dark-v1 g-color-primary"> Coverage</strong>
                    </h2>
                </div>
                <p class="mb-0 lead">
                    The current target communities of the Organization are located at all parts of Uganda.
                </p>
                <div class="d-inline-block g-width-50 g-height-1 g-bg-black"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Icon Blocks -->
<!-- Icon Blocks -->
<section class="g-pt-100 g-pb-40">
    <div class="container g-max-width-780 text-center">
        <div class="row align-items-center">
            <div class="mb-5">
                <div class="text-center u-heading-v8-1 g-mb-35">
                    <h2 class="h3 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 mb-0">
                        Programs of
                        <strong class="g-bg-gray-dark-v1 g-color-primary"> SASCELLS:</strong>
                    </h2>
                </div>
                <p class="mb-0 lead">The organization has relationship and coordination with other organizations of its type operating in different, Our organization focuses on:-</p>
                <div class="d-inline-block g-width-50 g-height-1 g-bg-black"></div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 col-lg-4">
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-primary g-font-size-16 rounded-circle">
                            <i class="icon-education-087 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">Persons living with sickle cells.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-brown g-font-size-16 rounded-circle">
                            <i class="icon-education-035 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">Education and Skills Training</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
            <div class="col-sm-6 col-lg-4">
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-brown g-font-size-16 rounded-circle">
                            <i class="icon-education-01 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">Food Security and Livelihood</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
            <div class="col-sm-6 col-lg-4">
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-indigo g-font-size-16 rounded-circle">
                            <i class="icon-electronics-020 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">Basic health services development</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>

</section>
<!-- End Icon Blocks -->
<!-- Icon Blocks -->
<section class="g-pt-100 g-pb-40 g-bg-gray-light-v5">
    <div class="container g-max-width-780 text-center">
        <div class="row align-items-center">
            <div class="mb-5">
                <div class="text-center u-heading-v8-1 g-mb-35">
                    <h2 class="h3 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 mb-0">
                        Organizational
                        <strong class="g-bg-gray-dark-v1 g-color-primary">Terms</strong>
                    </h2>
                </div>
                <p class="mb-0 lead">Sarafina Sickle Cell Society is an African NGO that has been established in 2019 by a group of concerned citizens that has been individually involved and challenged with sickle cells disease and other development aspects in Uganda. These people unified their human resources to form this NGO, which was meant to help the victims of sickle cells, the persons living with sickle cells and their families. Since then the organization does expand in all aspects of organizational membership, developmental strategies and program implementation.</p>
                <div class="d-inline-block g-width-50 g-height-1 g-bg-black"></div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 col-lg-4 g-mb-0 g-mb-60--sm">
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-primary g-font-size-16 rounded-circle">
                            <i class="icon-education-087 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Top 100 templates
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-brown g-font-size-16 rounded-circle">
                            <i class="icon-education-035 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Wikipedia
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-indigo g-font-size-16 rounded-circle">
                            <i class="icon-electronics-020 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Web Design
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-cyan g-font-size-16 rounded-circle">
                            <i class="icon-education-001 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Education
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20 g-mb-0--sm">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-purple g-font-size-16 rounded-circle">
                            <i class="icon-media-038 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Filmography
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-4 g-mb-60">
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-blue g-font-size-16 rounded-circle">
                            <i class="icon-science-020 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Hi-Tech
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-lightred g-font-size-16 rounded-circle">
                            <i class="icon-finance-256 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Programming
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-bluegray g-font-size-16 rounded-circle">
                            <i class="icon-music-036 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Music
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-pink g-font-size-16 rounded-circle">
                            <i class="icon-real-estate-066 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Engineering
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-teal g-font-size-16 rounded-circle">
                            <i class="icon-communication-116 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Others
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
            <div class="col-sm-6 col-lg-4 g-mb-0 g-mb-60--sm">
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-primary g-font-size-16 rounded-circle">
                            <i class="icon-education-087 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Top 100 templates
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-brown g-font-size-16 rounded-circle">
                            <i class="icon-education-035 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Wikipedia
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-indigo g-font-size-16 rounded-circle">
                            <i class="icon-electronics-020 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Web Design
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-cyan g-font-size-16 rounded-circle">
                            <i class="icon-education-001 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Education
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
                <!-- Icon Blocks -->
                <div class="media g-mb-20 g-mb-0--sm">
                    <div class="d-flex mr-4">
                        <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-purple g-font-size-16 rounded-circle">
                            <i class="icon-media-038 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h3 class="g-color-black g-font-size-17">
                            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">
                                Filmography
                            </a>
                        </h3>
                        <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">We strive to embrace and drive change in our industry to keep our clients relevant.</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

        </div>
    </div>

</section>
<!-- End Icon Blocks -->