.u-ns-bg-v1-top p{
color:#fff !important;
}

.g-color-primary{
    color:#fff !important;
}
.u-btn-primary {
    background-color: #11793d;
}

.g-bg-black .u-btn-primary {
    background-color: #fff;
}
.g-color-gray-light-v1 .u-btn-primary{
    color:#fff;
}

.g-color-footer-links {
    color: #22364c;
}
.u-link-v5 {
    text-decoration: none;
    transition: all .2s;
}

.u-link-v5 {
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
.g-color-footer-links {
    color: rgb(34, 54, 76);
}
#successStory .u-btn-primary {
    color: #9b2727 !important;
}
@media(max-width:480px){
    .g-font-size-13 {
        font-size: 1rem !important;
    }
}